<section class="address">
  <h2 id="contact">Contact</h2>
  <address>
    Gaya Kessler - CleverNode<br />
    Deurne / Eindhoven, Noord-Brabant, The Netherlands<br />
    <a href="mailto:gaya@theclevernode.com">gaya@theclevernode.com</a>
  </address>
</section>

<footer class="footer">
  Keep it simple &nbsp;&mdash;&nbsp; CleverNode
  <div class="header-logo__box"></div>
</footer>
