<header class="header">
    <section class="header__container">
        <section class="header-logo header__logo">
            <div class="header-logo__box"></div>
            <h1 class="header-logo__name">
                <a class="site-title" href="/"><%= config.title %></a>
            </h1>
        </section>
        <h2 class="header__slogan"><%= config.subtitle %></h2>
    </section>
</header>

<section class="menu">
    <a class="menu__item" href="#content">Skip to content</a>
    <% for (name in theme.menu[page.language]) { %>
        <a class="menu__item" href="<%= url_for((name === 'lang' && page.langSwitch) || theme.menu[page.language][name]) %>">
            <%- __('menu.' + name) %>
        </a>
    <% } %>
    <a class="menu__item" href="#contact">Contact</a>
</section>
