<header class="header">
    <section class="header__container">
        <h1>
            <a href="/" class="header-logo header__logo">
                <span class="header-logo__box"></span>
                <span class="header-logo__name">
                    <span class="site-title"><%= config.title %></span>
                </span>
            </a>
        </h1>
        <h2 class="header__slogan"><%= config.subtitle %></h2>

        <menu class="header__menu">
            <div class="header__menu__item">
                <a href="/about">About</a>
            </div>
            <div class="header__menu__item">
                <a href="https://gaya.pizza">Articles</a>
            </div>
            <div class="header__menu__item header__menu__item--attn">
                <a href="#contact">Hire me</a>
            </div>
        </menu>
    </section>
</header>
