{% extends "index.html" %}

{% block head %}
<meta property="og:title" content="CleverNode - Freelance JavaScript / Frontend Developer - Gaya Kessler"/>
<meta property="og:description" content="Web Developer from the Netherlands. Specialises in JavaScript, React, Redux, Sass, & Modern Front-end Development."/>
<meta property="og:url" content="{{ env.locals.url }}"/>
<meta property="og:site_name" content="{{ env.locals.title }}"/>
{% endblock %}

{% block content %}
<img class="avatar" src="/assets/images/avatar-2016.jpg" alt="Gaya Kessler" title="Gaya Kessler" />

<blockquote>
    (Full stack) <strong>Web Development</strong>. Specialising in <strong>JavaScript</strong>,
    <strong>React</strong>, Sass & Modern Front-end Tooling. Standing in the eye of the storm
    <strong>bringing harmony</strong> to back-end, front-end & design.
</blockquote>

<p>
    Let me introduce myself, my name is Gaya Kessler, a developer living in the Netherlands.
    Opinionated, always ready for a discussion, and to help build something great. Also creator
    of the <a href="https://dramm.it">Social Whisky app Drammit</a>.
</p>

<p>
    I am passionate about creating the best for the web, always keeping up with the latest in
    web technologies. This enabled me to work on a lot of different projects and experience what
    works in different situations.
</p>

<h2>Specialities</h2>

<p>
    Subjects I mainly focus on are <strong>JavaScript</strong>, front-end development,
    <strong>React</strong>, Redux, <strong>webpack</strong>, <strong>single page
    applications</strong>, mobile apps and back-end JavaScript using <strong>Node.js</strong>.
</p>

<section class="experience">
    <div class="experience__item">
        <img src="/assets/images/js-logo.svg" alt="JavaScript">
        <p>JavaScript</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/react-logo.svg" alt="React">
        <p>React</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/node-logo.svg" alt="Node.js">
        <p>Node.js</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/redux-logo.svg" alt="Redux">
        <p>Redux</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/webpack-logo.svg" alt="webpack">
        <p>webpack</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/babel-logo.svg" alt="Babel">
        <p>Babel</p>
    </div>
</section>

<h2>Hire me</h2>

<p>
    Hire me for <strong>freelance JavaScript / React Developer</strong> as well as solving
    the whole <strong>front-end tool stack of your projects</strong>. My experience lies in creating
    solid and stable applications which teams of developers like to keep working on and improve.
</p>

<section class="contact-now">
    <a class="contact-now__link" href="#contact">Contact me now</a>
</section>

<p>
    In the past I have worked on projects of various sizes. This helped me in choosing the right
    tool for the job. From <strong>small JavaScript widgets</strong> to <strong>full blown
    applications</strong>; anything is possible.
</p>

<p>
    <a href="https://github.com/Gaya/resume">Read my resumé</a> for past work experience.
</p>

<h2>I work for</h2>

<section class="experience">
    <div class="experience__item">
        <a href="https://dramm.it"><img src="/assets/images/drammit-logo.svg" alt="Drammit"></a>
        <p>Creator and founder</p>
    </div>
    <div class="experience__item">
        <a href="https://dekode.no"><img src="/assets/images/dekode.svg" alt="Dekode"></a>
        <p>Node.js web services</p>
    </div>
    <div class="experience__item">
        <a href="https://www.cybox.nl"><img src="/assets/images/cybox-logo.svg" alt="Cybox"></a>
        <p>JavaScript Single Page Application</p>
    </div>
</section>

<h2>Find me online</h2>

<ul>
    <li>
        <a class="find-me find-me--twitter" href="https://twitter.com/GayaKessler">
            Follow on Twitter
        </a>
    </li>
    <li>
        <a class="find-me find-me--linkedin" href="https://www.linkedin.com/in/gaya-kessler/">
            Connect on LinkedIn
        </a>
    </li>
    <li>
        <a class="find-me find-me--github" href="https://github.com/Gaya">
            Repositories on GitHub
        </a>
    </li>
</ul>

{% endblock %}

{% block address %}
Gaya Kessler - CleverNode<br />
Eindhoven, The Netherlands<br />
Email me at <a href="mailto:gaya@theclevernode.com">gaya@theclevernode.com</a><br />
<br />
Or use this form made with <a href="https://www.getformable.com">Formable</a>
{% endblock %}
