{% extends "index.html" %}

{% block head %}
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="JavaScript and modern Frontend Development by Gaya Kessler"/>
<meta property="og:description" content="Web Developer from the Netherlands. Specialized in JavaScript, Sass & Modern Front-end Development."/>
<meta property="og:url" content="{{ env.locals.url }}"/>
<meta property="og:site_name" content="{{ env.locals.title }}"/>
<meta property="article:publisher" content="https://www.facebook.com/gayaninja"/>
<meta property="fb:admins" content="100000090654216"/>
<meta property="og:image" content="{{ env.locals.url }}/images/fb-poster.jpg"/>
{% endblock %}

{% block content %}
<section class="content">
    <img class="avatar" src="/assets/images/avatar-2016.jpg" alt="Gaya Kessler" title="Gaya Kessler" />

    <blockquote>
        (Full stack) <strong>Web Development</strong>. Specialized in <strong>JavaScript</strong>,
        Sass & Modern Front-end Tooling. Standing in the eye of the storm <strong>bringing
        harmony</strong> to back-end, front-end & design.
    </blockquote>

    <p>
        Let me introduce myself, my name is Gaya Kessler, a developer living in the Netherlands.
        Opinionated and always ready for a discussion or to help build something great. Also creator
        of the <a href="https://dramm.it">Social Whisky app Drammit</a>.
    </p>

    <p>
        I am passionate about creating the best for the web, always keeping up with the latest in
        web technologies. This enabled me to work on a lot of different projects and experience what
        works in different situations.
    </p>

    <h2>Specialities</h2>

    <p>
        Subjects I mainly focus on are <strong>JavaScript</strong>, front-end development,
        <strong>React</strong>, Redux, <strong>webpack</strong>, <strong>single page
        applications</strong>, mobile apps and back-end JavaScript using <strong>Node.js</strong>.
    </p>

    <p>
        I am available as a <strong>React Developer</strong> as well as solving the whole <strong>
        build pipeline of your projects</strong>. My experience lies in creating solid and stable
        applications which teams of developers like to keep working on and improve.
    </p>

    <p>
        In the past I have worked on projects of various sizes. This helped me in choosing the right
        tool for the job. From small JavaScript widgets to full blown applications; anything is
        possible.
    </p>

    <h2>Need help transitioning to modern front-end workflows?</h2>

    <p>
        If your project relies on technologies like <strong>grunt</strong>,
        <strong>require.js</strong>, and other tools which now have better alternatives, it might be
        hard to know where to start your transition. The right replacements and the way to them can
        be quite challenging.
    </p>

    <p>
        I have experience upgrading pipelines of projects to <strong>webpack</strong>, <strong>ES6
        using Babel</strong>, and minimize the amount of plugins and tools a project needs in order
        to run. It doesn't matter if you're stuck with grunt, gulp, or require.js, there is a
        solution.
    </p>

    <p>
        Steps toward a better environment are hard, and having an extra, experienced, eye can help a
        lot. I can help you <strong>solve this problem</strong>.
    </p>

    <h2>Find me online</h2>

    <ul>
        <li>
            <a class="find-me find-me--twitter" href="https://twitter.com/GayaNinja">
                Follow on Twitter
            </a>
        </li>
        <li>
            <a class="find-me find-me--github" href="https://github.com/Gaya">
                Repositories on GitHub
            </a>
        </li>
        <li>
            <a class="find-me find-me--linkedin" href="http://linkedin.com/in/gayakessler">
                Connect on LinkedIn
            </a>
        </li>
    </ul>

    <h2 id="contact">Contact</h2>
    <address>
        Gaya Kessler - CleverNode<br />
        Deurne / Eindhoven, The Netherlands<br />
        Email me at <a href="mailto:gaya@theclevernode.com">gaya@theclevernode.com</a><br />
        or call: (+31) 6 4883 5450
    </address>
</section>
{% endblock %}
