{% extends "index.html" %}

{% block head %}
<meta property="og:title" content="CleverNode - Freelance JavaScript / Frontend Developer - Gaya Kessler"/>
<meta property="og:description" content="Web Developer from the Netherlands. Specialises in JavaScript, React, Redux, Sass, & Modern Front-end Development."/>
<meta property="og:url" content="{{ env.locals.url }}"/>
<meta property="og:site_name" content="{{ env.locals.title }}"/>
{% endblock %}

{% block content %}
<img class="avatar" src="/assets/images/avatar-2016.jpg" alt="Gaya Kessler" title="Gaya Kessler" />

<blockquote>
    (Full stack) <strong>Web Development</strong>. Specialising in <strong>JavaScript</strong>,
    <strong>React</strong>, Sass & Modern Front-end Tooling. Standing in the eye of the storm
    <strong>bringing harmony</strong> to back-end, front-end & design.
</blockquote>

<p>
    Let me introduce myself, my name is Gaya Kessler, a developer living in the Netherlands.
    Opinionated, always ready for a discussion, and to help build something great.
</p>

<p>
    I am passionate about creating the best for the web, always keeping up with the latest in
    web technologies. This enabled me to work on a lot of different projects and experience what
    works in different situations.
</p>

<h2>Specialities</h2>

<p>
    Subjects I mainly focus on are <strong>JavaScript</strong>, front-end development,
    <strong>React</strong>, Redux, <strong>WebPack</strong>, <strong>Single Page
    Applications</strong>, mobile apps (<strong>React Native</strong>), and back-end JavaScript
    using <strong>Node.js</strong>.
</p>

<section class="experience">
    <div class="experience__item">
        <img src="/assets/images/js-logo.svg" alt="JavaScript">
        <p>JavaScript</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/react-logo.svg" alt="React">
        <p>React</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/node-logo.svg" alt="Node.js">
        <p>Node.js</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/redux-logo.svg" alt="Redux">
        <p>Redux</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/webpack-logo.svg" alt="webpack">
        <p>WebPack</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/react-logo.svg" alt="React">
        <p>React Native</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/babel-logo.svg" alt="Babel">
        <p>Babel</p>
    </div>
</section>

<h2>Workshops</h2>

<p>
    What I <strong>love to do</strong> is to <strong>teach people</strong> all I know about
    JavaScript, React, Node, remote work, and other subjects which keep my professional life
    interesting. I can <strong>teach you and your team</strong> about
    new technologies and the ideas behind them. Find it hard to get a grip on React and Redux?
    Don't know how to start using modern JavaScript? I can arrange a workshop <strong>for your
    needs.</strong>
</p>

<h2>Hire me</h2>

<p>
    Hire me for <strong>freelance JavaScript / React Developer</strong> as well as solving
    the whole <strong>front-end tool stack of your projects</strong>. My experience lies in creating
    solid and stable applications which teams of developers like to keep working on and improve.
</p>

<section class="contact-now">
    <a class="contact-now__link" href="#contact">Contact me now</a>
</section>

<p>
    In the past I have worked on projects of various sizes. This helped me in choosing the right
    tool for the job. From <strong>small JavaScript widgets</strong> to <strong>full blown
    applications</strong>; anything is possible.
</p>

<p>
    <a href="https://github.com/Gaya/resume">Read my resumé</a> for past work experience.
</p>

<h2>CleverNode Projects</h2>

<section class="experience">
    <div class="experience__item">
        <a href="https://usethyme.com"><img src="/assets/images/thyme-logo.svg" alt="Thyme"></a>
        <p>Privacy First Time Tracker</p>
    </div>

    <div class="experience__item">
        <a href="https://theclevernode.com/ab-testing-for-wordpress"><img src="/assets/images/ab-testing-for-wp-logo.svg" alt="A/B Testing for WordPress"></a>
        <p>A/B Testing for WordPress</p>
    </div>

    <div class="experience__item">
        <a href="https://dramm.it"><img src="/assets/images/drammit-logo.svg" alt="Drammit"></a>
        <p>Social Whisky App</p>
    </div>
</section>

<h2>Some of the companies I've worked for</h2>

<section class="experience">
    <div class="experience__item">
        <a href="https://dekode.no"><img src="/assets/images/dekode.svg" alt="Dekode"></a>
        <p>Node.js web services<br />mobile / web apps</p>
    </div>
    <div class="experience__item">
        <a href="https://www.brewpi.com/"><img src="/assets/images/brewpi-logo.png" alt="BrewPi"></a>
        <p>UI development for a Brewery Controller</p>
    </div>
    <div class="experience__item">
        <a href="https://www.cybox.nl"><img src="/assets/images/cybox-logo.svg" alt="Cybox"></a>
        <p>React Application</p>
    </div>
</section>

<h2>Find me online</h2>

<ul>
    <li>
        <a class="find-me find-me--twitter" href="https://twitter.com/GayaKessler">
            Follow on Twitter
        </a>
    </li>
    <li>
        <a class="find-me find-me--linkedin" href="https://www.linkedin.com/in/gaya-kessler/">
            Connect on LinkedIn
        </a>
    </li>
    <li>
        <a class="find-me find-me--github" href="https://github.com/Gaya">
            Repositories on GitHub
        </a>
    </li>
</ul>

{% endblock %}

{% block address %}
Gaya Kessler - CleverNode<br />
Eindhoven, The Netherlands<br />
<a href="mailto:gaya@theclevernode.com">gaya@theclevernode.com</a>
{% endblock %}
