{% extends "index.html" %}

{% block head %}
<meta property="og:title" content="JavaScript en moderne Frontend Development door Gaya Kessler"/>
<meta property="og:description" content="Web Developer, gespecialiseerd in JavaScript, Sass & moderne Front-end Development."/>
<meta property="og:url" content="{{ env.locals.url }}/nl"/>
<meta property="og:site_name" content="{{ env.locals.title }}"/>
{% endblock %}

{% block content %}
<img class="avatar" src="/assets/images/avatar-2016.jpg" alt="Gaya Kessler" title="Gaya Kessler" />

<blockquote>
    (Full stack) <strong>Web Development</strong>. Gespecialiseerd in <strong>JavaScript</strong>,
    Sass & moderne Front-end tooling. Te midden van alle chaos <strong>bewaar ik rust</strong>
    tussen back-end, front-end & design.
</blockquote>

<p>
    Even voorstellen: mijn naam is Gaya Kessler, een developer wonende in Deurne, vlakbij Eindhoven.
    Heb een mening en is altijd bereid een discussie te voeren of om te helpen met het realiseren
    van iets moois. Ook heb ik <a href="https://dramm.it">Social Whisky app Drammit</a> gemaakt.
</p>

<p>
    Ik heb een passie voor het creëren van het beste voor het web, terwijl ik altijd de laatste
    ontwikkelingen in de web technologien nauwlettend in de gaten houd. Dit heeft ervoor gezorgd dat
    ik mee heb mogen werken aan diverse projecten en ervaring heb opgedaan wat het beste werkt in
    verschillende situaties.
</p>

<h2>Specialiteiten</h2>

<p>
    Onderwerpen waar ik me vooral op richt zijn: <strong>JavaScript</strong>, front-end development,
    <strong>React</strong>, Redux, <strong>webpack</strong>, <strong>single page
    applications</strong>, mobile apps en back-end JavaScript met behulp van
    <strong>Node.js</strong>.
</p>

<p>
    Ik ben beschikbaar als <strong>React Developer</strong>, ook kan ik de hele <strong>
    build pipeline van je projecten oplossen</strong>. Mijn ervaring ligt in heb maken van solide en
    stabiele applicaties waar teams van developers graag aan blijven werken en verbeteren.
</p>

<p>
    In het verleden heb ik mogen werken aan projecten van verschillende omvang. Dit heeft me
    geholpen in the kiezen voor de juiste tools voor klussen. Van kleine JavaScript widgets tot
    uitgebreide applicaties; over is een oplossing voor.
    possible.
</p>

<h2>Hulp nodig met de overgang naar moderne front-end workflows?</h2>

<p>
    Als projecten afhangen van technologiën als <strong>grunt</strong>,
    <strong>require.js</strong>, en andere tools die wellicht betere alternatieve hebben, kan het
    lastig zijn om te bepalen waar te beginnen. De juist vervanging en de weg er naartoe is vaak
    lang en niet zonder slag of stoot.
</p>

<p>
    Ik heb ervaring in het omzetten van projecten naar moderne pipelines met behulp van
    <strong>webpack</strong>, <strong>ES6 en Babel</strong>, en het elimineren van onnodige taken en
    tools om een project draaiende te houden. Het maakt niet uit of je vast zit aan grunt, gulp, of
    require.js, er is een oplossing.
</p>

<p>
    Stappen richting een betere ontwikkelomgeving zijn lastig. Het hebben van een een extra,
    ervaren, oog kan veel schelen. Ik kan je <strong>helpen dit probleem op te lossen</strong>.
</p>

<h2>Vind me online</h2>

<ul>
    <li>
        <a class="find-me find-me--twitter" href="https://twitter.com/GayaNinja">
            Volg op Twitter
        </a>
    </li>
    <li>
        <a class="find-me find-me--github" href="https://github.com/Gaya">
            Repository's op GitHub
        </a>
    </li>
    <li>
        <a class="find-me find-me--linkedin" href="http://linkedin.com/in/gayakessler">
            Connect op LinkedIn
        </a>
    </li>
</ul>
{% endblock %}

{% block address %}
Gaya Kessler - CleverNode<br />
Deurne e.o. / Eindhoven, Nederland<br />
E-mail naar <a href="mailto:gaya@theclevernode.com">gaya@theclevernode.com</a><br />
of bel: (+31) 6 4883 5450
{% endblock %}
