{% extends "index.html" %}

{% block head %}
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="JavaScript and modern Frontend Development by Gaya Kessler"/>
<meta property="og:description" content="Web Developer from the Netherlands. Specialized in JavaScript, Sass & Modern Front-end Development."/>
<meta property="og:url" content="{{ env.locals.url }}"/>
<meta property="og:site_name" content="{{ env.locals.title }}"/>
<meta property="article:publisher" content="https://www.facebook.com/gayaninja"/>
<meta property="fb:admins" content="100000090654216"/>
<meta property="og:image" content="{{ env.locals.url }}/images/fb-poster.jpg"/>
{% endblock %}

{% block content %}
<h2>Well this is awkward :(</h2>

<p>
    I seem to have lost or can't find the page you're looking for. Sorry for the inconvenience!
    If you'd like to <a href="{{ env.locals.url }}/">read more about CleverNode</a>, please
    <a href="{{ env.locals.url }}/">go to the homepage</a>.
</p>

<h2 id="contact">Contact</h2>
<address>
    Gaya Kessler - CleverNode<br />
    Deurne / Eindhoven, The Netherlands<br />
    Email me at <a href="mailto:gaya@theclevernode.com">gaya@theclevernode.com</a><br />
    or call: (+31) 6 4883 5450
</address>
{% endblock %}
