{% extends "index.html" %}

{% block head %}
<meta property="og:title" content="CleverNode - Freelance JavaScript / Frontend Developer - Gaya Kessler"/>
<meta property="og:description" content="Web Developer, gespecialiseerd in JavaScript, React, Redux, Sass, & moderne Front-end Development."/>
<meta property="og:url" content="{{ env.locals.url }}/nl"/>
<meta property="og:site_name" content="{{ env.locals.title }}"/>
{% endblock %}

{% block content %}
<img class="avatar" src="/assets/images/avatar-2016.jpg" alt="Gaya Kessler" title="Gaya Kessler" />

<blockquote>
    (Full stack) <strong>Web Development</strong>. Gespecialiseerd in <strong>JavaScript</strong>,
    <strong>React</strong>, Sass, & moderne Front-end tooling. Temidden alle chaos
    <strong>bewaar ik rust</strong> tussen back-end, front-end & design.
</blockquote>

<p>
    Even voorstellen: mijn naam is Gaya Kessler, een developer wonende in Deurne, vlakbij Eindhoven.
    Ik heb een uitgesproken mening en ben altijd bereid om een discussie te voeren of te helpen met
    het realiseren van iets moois.
</p>

<p>
    Ik heb een passie voor het creëren van het beste voor het web, ondertussen houd ik de laatste
    ontwikkelingen in de webtechnologie nauwlettend in de gaten. Dit heeft ervoor gezorgd dat
    ik mee heb mogen werken aan diverse, mooie en gave, projecten en ervaring heb opgedaan voor wat
    het beste werkt in verschillende situaties.
</p>

<h2>Specialiteiten</h2>

<p>
    Onderwerpen waar ik me vooral op richt zijn: <strong>JavaScript</strong>, front-end development,
    <strong>React</strong>, Redux, <strong>webpack</strong>, <strong>single page
    applications</strong>, mobile apps (<strong>React Native</strong>) en back-end JavaScript met
    behulp van <strong>Node.js</strong>.
</p>

<section class="experience">
    <div class="experience__item">
        <img src="/assets/images/js-logo.svg" alt="JavaScript">
        <p>JavaScript</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/react-logo.svg" alt="React">
        <p>React</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/node-logo.svg" alt="Node.js">
        <p>Node.js</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/redux-logo.svg" alt="Redux">
        <p>Redux</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/webpack-logo.svg" alt="webpack">
        <p>WebPack</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/react-logo.svg" alt="React">
        <p>React Native</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/babel-logo.svg" alt="Babel">
        <p>Babel</p>
    </div>
</section>

<h2>Workshops</h2>

<p>
    Waar ik <strong>blij van word is het delen van mijn kennis</strong> van JavaScript, React, Node,
    remote werken, en andere zaken welke mijn vak zo interessant maken. Ik kan <strong>je en jouw
    team leren</strong> over nieuwe technologiën en die ideeën er achter.
    Kom je lastig uit React en Redux? Wil je weten hoe je kan starten met het gebruik van moderne
    JavaScript? Ik verzorg een workshop op maat, <strong>aangepast op jouw wensen</strong>.
</p>

<h2>Huur me in</h2>

<p>
    Huur me in als <strong>freelance JavaScript / React Developer</strong>, ook kan ik de
    hele <strong>front-end tool stack van je projecten oplossen</strong>. Mijn ervaring ligt in het
    maken van solide en stabiele applicaties waar teams van developers graag aan blijven werken en
    verbeteren.
</p>

<section class="contact-now">
    <a class="contact-now__link" href="#contact">Neem contact op</a>
</section>

<p>
    In het verleden heb ik mogen werken aan projecten van verschillende omvang. Dit heeft me
    geholpen in het kiezen voor de juiste tools bij opdrachten. Van kleine JavaScript widgets tot
    uitgebreide applicaties; overal is een oplossing voor.
</p>

<p>
    <a href="https://github.com/Gaya/resume">Bekijk mijn CV</a> voor mijn werkervaring.
</p>

<h2>CleverNode projecten</h2>

<section class="experience">
    <div class="experience__item">
        <a href="https://usethyme.com"><img src="/assets/images/thyme-logo.svg" alt="Thyme"></a>
        <p>Privacy First Tijdschrijver</p>
    </div>

    <div class="experience__item">
        <a href="https://abtestingforwp.com"><img src="/assets/images/ab-testing-for-wp-logo.svg" alt="A/B Testing for WordPress"></a>
        <p>A/B Testing voor WordPress</p>
    </div>

    <div class="experience__item">
        <a href="https://dramm.it"><img src="/assets/images/drammit-logo.svg" alt="Drammit"></a>
        <p>Social Whisky App</p>
    </div>
</section>

<h2>Gewerkt voor onder andere</h2>

<section class="experience">
    <div class="experience__item">
        <a href="https://dekode.no"><img src="/assets/images/dekode.svg" alt="Dekode"></a>
        <p>Node.js web services en mobiele app</p>
    </div>
    <div class="experience__item">
        <a href="https://www.brewpi.com/"><img src="/assets/images/brewpi-logo.png" alt="BrewPi"></a>
        <p>UI implementatie voor bierbrouw controller</p>
    </div>
    <div class="experience__item">
        <a href="https://www.cybox.nl"><img src="/assets/images/cybox-logo.svg" alt="Cybox"></a>
        <p>React Applicatie</p>
    </div>
</section>

<h2>Vind me online</h2>

<ul>
    <li>
        <a class="find-me find-me--twitter" href="https://twitter.com/GayaKessler">
            Volg me op Twitter
        </a>
    </li>
    <li>
        <a class="find-me find-me--linkedin" href="https://www.linkedin.com/in/gaya-kessler/">
            Connect op LinkedIn
        </a>
    </li>
    <li>
        <a class="find-me find-me--github" href="https://github.com/Gaya">
            Repository's op GitHub
        </a>
    </li>
</ul>

{% endblock %}

{% block address %}
Gaya Kessler - CleverNode<br />
Deurne, Nederland<br />
<a href="mailto:gaya@theclevernode.com">gaya@theclevernode.com</a>
{% endblock %}
