{% extends "index.html" %}

{% block head %}
<meta property="og:title" content="CleverNode - Freelance JavaScript / Frontend Developer - Gaya Kessler"/>
<meta property="og:description" content="Web Developer, gespecialiseerd in JavaScript, React, Redux, Sass, & moderne Front-end Development."/>
<meta property="og:url" content="{{ env.locals.url }}/nl"/>
<meta property="og:site_name" content="{{ env.locals.title }}"/>
{% endblock %}

{% block content %}
<img class="avatar" src="/assets/images/avatar-2016.jpg" alt="Gaya Kessler" title="Gaya Kessler" />

<blockquote>
    (Full stack) <strong>Web Development</strong>. Gespecialiseerd in <strong>JavaScript</strong>,
    <strong>React</strong>, Sass, & moderne Front-end tooling. Temidden alle chaos
    <strong>bewaar ik rust</strong> tussen back-end, front-end & design.
</blockquote>

<p>
    Even voorstellen: mijn naam is Gaya Kessler, een developer wonende in Deurne, vlakbij Eindhoven.
    Ik heb een uitgesproken mening en ben altijd bereid om een discussie te voeren of te helpen met
    het realiseren van iets moois.
    Ook ben ik verantwoordelijk voor de <a href="https://dramm.it">Social Whisky app Drammit</a>.
</p>

<p>
    Ik heb een passie voor het creëren van het beste voor het web, ondertussen houd ik de laatste
    ontwikkelingen in de webtechnologie nauwlettend in de gaten. Dit heeft ervoor gezorgd dat
    ik mee heb mogen werken aan diverse, mooie en gave, projecten en ervaring heb opgedaan voor wat
    het beste werkt in verschillende situaties.
</p>

<h2>Specialiteiten</h2>

<p>
    Onderwerpen waar ik me vooral op richt zijn: <strong>JavaScript</strong>, front-end development,
    <strong>React</strong>, Redux, <strong>webpack</strong>, <strong>single page
    applications</strong>, mobile apps en back-end JavaScript met behulp van
    <strong>Node.js</strong>.
</p>

<h2>Beschikbaarheid</h2>

<p>
    Ik ben beschikbaar als <strong>freelance JavaScript / React Developer</strong>, ook kan ik de
    hele <strong>front-end tool stack van je projecten oplossen</strong>. Mijn ervaring ligt in het
    maken van solide en stabiele applicaties waar teams van developers graag aan blijven werken en
    verbeteren.
</p>

<section class="contact-now">
    <a class="contact-now__link" href="#contact">Neem contact op</a>
</section>

<p>
    In het verleden heb ik mogen werken aan projecten van verschillende omvang. Dit heeft me
    geholpen in het kiezen voor de juiste tools bij opdrachten. Van kleine JavaScript widgets tot
    uitgebreide applicaties; overal is een oplossing voor.
</p>

<h2>Eerder werkte ik voor</h2>

<section class="experience">
    <div class="experience__item">
        <img src="/assets/images/jouwweb-logo.svg" alt="">
        <p>Lead JavaScript Developer</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/drammit-logo.svg" alt="">
        <p>Ontwikkelaar en oprichter</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/juridisch-logo.svg" alt="">
        <p>Implementatie zoek widget</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/ghg-logo.svg" alt="">
        <p>Lead Front-end Developer</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/radish-logo.svg" alt="">
        <p>Full Stack Web Developer</p>
    </div>
    <div class="experience__item">
        <img src="/assets/images/merchandise-logo.svg" alt="">
        <p>Full Stack Web Developer</p>
    </div>
</section>

<h2>Vind me online</h2>

<ul>
    <li>
        <a class="find-me find-me--twitter" href="https://twitter.com/GayaKessler">
            Volg me op Twitter
        </a>
    </li>
    <li>
        <a class="find-me find-me--linkedin" href="https://www.linkedin.com/in/gaya-kessler/">
            Connect op LinkedIn
        </a>
    </li>
    <li>
        <a class="find-me find-me--github" href="https://github.com/Gaya">
            Repository's op GitHub
        </a>
    </li>
</ul>

<h2>Hulp nodig met de overgang naar moderne front-end workflows?</h2>

<p>
    Als projecten afhangen van technologieën als <strong>grunt</strong>,
    <strong>require.js</strong>, en andere tools die tegenwoordig betere alternatieve hebben, kan
    het lastig zijn om te bepalen waar te beginnen. De juist vervanging en de weg er naartoe is vaak
    lang en niet zonder slag of stoot.
</p>

<p>
    Ik heb ervaring in het omzetten van projecten naar moderne pipelines met behulp van
    <strong>webpack</strong>, <strong>ES6 en Babel</strong>, en het elimineren van onnodige taken en
    tools. Het maakt niet uit of je vast zit aan grunt, gulp, require.js, of als je nog helemaal
    geen pipeline hebt: er is een oplossing.
</p>

<p>
    Stappen richting een betere ontwikkelomgeving zijn lastig. Het hebben van een een extra,
    ervaren, oog kan veel werk schelen. Ik kan je <strong>helpen dit probleem op te lossen</strong>.
</p>
{% endblock %}

{% block address %}
Gaya Kessler - CleverNode<br />
Deurne / Eindhoven, Nederland<br />
E-mail naar <a href="mailto:gaya@theclevernode.com">gaya@theclevernode.com</a><br />
<br />
Of gebruik onderstaand formulier gemaakt met <a href="https://www.getformable.com">Formable</a>
{% endblock %}
