@import 'reset';
@import 'animation';
@import 'prefix';

$bg: #f2f2f2;
$dark-bg: #151515;
$active: #fa6900;

$screen-sm: 500px;
$screen-md: 760px;
$container-width: 720px;

body {
  background-color: $bg;
  color: $dark-bg;
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
  font-size: 16px;
  overflow-x: hidden;
}

%container {
  max-width: $container-width;
  margin: 0 auto;
}

.header {
  background: $dark-bg;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 250%;
  margin-left: -75%;

  @media (min-width: $screen-sm) {
    width: 200%;
    margin-left: -50%;
  }

  @media (min-width: $screen-md) {
    width: 150%;
    margin-left: -25%;
  }

  &__container {
    @extend %container;
  }

  &__slogan {
    opacity: 0.9;
    color: $bg;
    text-align: center;
    padding-bottom: 20px;

    @media (min-width: $screen-sm) {
      padding-bottom: 30px;
      font-size: 1.4em;
    }

    @media (min-width: $screen-md) {
      padding-bottom: 40px;
    }
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;

  @media (min-width: $screen-sm) {
    padding: 30px 30px 20px 30px;
    flex-direction: row;
  }

  @media (min-width: $screen-md) {
    padding: 60px 60px 20px 60px;
  }

  &__box, &__name {
    @include vendor-prefix(mask-size, contain);
    @include vendor-prefix(mask-repeat, no-repeat);

    margin: 7px;

    background: linear-gradient(180deg, #f2f2f2, #f2f2f2, #69d2e7, #a7dbd8, #e0e4cc, #f38630, #fa6900, #f2f2f2, #f2f2f2);
    background-size: 1800% 1800%;

    @include vendor-prefix(animation, LogoFade 30s ease infinite);

    @media (min-width: $screen-sm) {
      margin: 10px;
    }
  }

  &__box {
    @include vendor-prefix(mask-image, url('../images/clevernode-box.svg'));
    height: 53px;
    width: 55px;

    @media (min-width: $screen-sm) {
      height: 70px;
      width: 80px;
    }
  }

  &__name {
    @include vendor-prefix(mask-image, url('../images/clevernode-logo.svg'));
    height: 33px;
    width: 212px;

    @media (min-width: $screen-sm) {
      height: 40px;
      width: 270px;
    }
  }
}

.avatar {
  float: right;
  border-radius: 100%;
  overflow: hidden;
  margin: 20px 0 20px 20px;
  width: 75px;
  height: 75px;

  @media (min-width: $screen-sm) {
    height: 150px;
    width: 150px;
  }
}

.content {
  @extend %container;
  padding: 10px;

  @media (min-width: $screen-sm) {
    padding: 20px;
  }

  @media (min-width: $screen-md) {
    padding: 30px;
  }

  blockquote {
    margin: 10px 0;
    font-size: 20px;
    line-height: 1.5em;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  h2 {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    margin: 24px 0;
  }

  a {
    color: $active;

    &:hover, &:focus {
      color: $dark-bg;
    }
  }

  address {
    text-align: center;
  }

  ul {
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      flex-basis: 100%;
      flex-shrink: 0;
      margin: 12px 0;

      @media (min-width: $screen-md) {
        flex-basis: 30%;
      }

      a {
        border: 1px solid $dark-bg;
        color: $dark-bg;
        display: block;
        text-decoration: none;
        width: 100%;
        height: 3em;
        line-height: 3em;
        text-align: center;
        transition: border-color 0.15s, color 0.15s, background-color 0.15s;

        &:hover, &:focus {
          border: 1px solid $active;
          background-color: $active;
          color: $bg;
        }
      }
    }
  }
}
