<h2 class="centered">Some of the Companies I've Worked with</h2>

<section class="experience">
    <div class="experience__item">
        <a href="https://philips.com"><img src="/images/philips-logo.svg" alt="Philips"></a>
        <p>Cloud hosting platform for Philips Healthcare</p>
    </div>
    <div class="experience__item">
        <a href="https://route42.nl"><img src="/images/route42-logo.svg" alt="Route42"></a>
        <p>Support and education for development team</p>
    </div>
    <div class="experience__item">
        <a href="https://dekode.no"><img src="/images/dekode.svg" alt="Dekode"></a>
        <p>Node.js web services<br />mobile &amp; web apps</p>
    </div>
    <div class="experience__item">
        <a href="https://www.brewpi.com/">
            <picture>
                <source srcset="/images/brewpi-logo.webp" type="image/webp">
                <img src="/images/brewpi-logo.png" alt="BrewPi">
            </picture>
        </a>
        <p>UI development for a Brewery Controller</p>
    </div>
    <div class="experience__item">
        <a href="https://www.cybox.nl"><img src="/images/cybox-logo.svg" alt="Cybox"></a>
        <p>Information management web application</p>
    </div>
</section>

<h2 class="centered">CleverNode Projects</h2>

<section class="experience">
    <div class="experience__item">
        <a href="https://usethyme.com"><img src="/images/thyme-logo.svg" alt="Thyme"></a>
        <p>Privacy First Time Tracker</p>
    </div>

    <div class="experience__item">
        <a href="https://abtestingforwp.com"><img src="/images/ab-testing-for-wp-logo.svg" alt="A/B Testing for WordPress"></a>
        <p>A/B Testing for WordPress</p>
    </div>

    <div class="experience__item">
        <a href="https://createmy.run"><img src="/images/create-my-run-logo.svg" alt="CreateMy.Run"></a>
        <p>Running route generator</p>
    </div>

    <div class="experience__item">
        <a href="https://dramm.it"><img src="/images/drammit-logo.svg" alt="Drammit"></a>
        <p>Social Whisky App</p>
    </div>

    <div class="experience__item">
        <a href="https://zitkubus.com">
            <picture>
                <source srcset="/images/zitkubus-logo.webp" type="image/webp">
                <img src="/images/zitkubus-logo.png" alt="Zitkubus.com">
            </picture>
        </a>
        <p>3D Cube Designer<br />(collab w/ <a style="display: inline" href="https://merchandise.nl">merchandise.nl</a>)</p>
    </div>
</section>

<h2 class="centered">Find me Online</h2>

<ul class="find-online">
    <li>
        <a class="find-me find-me--twitter" href="https://twitter.com/GayaKessler">
            Follow on Twitter
        </a>
    </li>
    <li>
        <a class="find-me find-me--linkedin" href="https://www.linkedin.com/in/gaya-kessler/">
            Connect on LinkedIn
        </a>
    </li>
    <li>
        <a class="find-me find-me--github" href="https://github.com/Gaya">
            Repositories on GitHub
        </a>
    </li>
</ul>
