<h2>CleverNode projecten</h2>

<section class="experience">
    <div class="experience__item">
        <a href="https://usethyme.com"><img src="/images/thyme-logo.svg" alt="Thyme"></a>
        <p>Privacy First Tijdschrijver</p>
    </div>
    <div class="experience__item">
        <a href="https://abtestingforwp.com"><img src="/images/ab-testing-for-wp-logo.svg" alt="A/B Testing for WordPress"></a>
        <p>A/B Testing voor WordPress</p>
    </div>
    <div class="experience__item">
        <a href="https://dramm.it"><img src="/images/drammit-logo.svg" alt="Drammit"></a>
        <p>Social Whisky App</p>
    </div>
    <div class="experience__item">
        <a href="https://zitkubus.com"><img src="/images/zitkubus-logo.png" alt="Zitkubus.com"></a>
        <p>3D Kubus Ontwerpmodule<br />(in samenwerking met <a style="display: inline" href="https://merchandise.nl">merchandise.nl</a>)</p>
    </div>
</section>

<h2>Gewerkt voor onder andere</h2>

<section class="experience">
    <div class="experience__item">
        <a href="https://dekode.no"><img src="/images/dekode.svg" alt="Dekode"></a>
        <p>Node.js web services en mobiele app</p>
    </div>
    <div class="experience__item">
        <a href="https://www.brewpi.com/"><img src="/images/brewpi-logo.png" alt="BrewPi"></a>
        <p>UI implementatie voor bierbrouw controller</p>
    </div>
    <div class="experience__item">
        <a href="https://www.cybox.nl"><img src="/images/cybox-logo.svg" alt="Cybox"></a>
        <p>React Applicatie</p>
    </div>
</section>

<h2>Vind me online</h2>

<ul class="find-online">
    <li>
        <a class="find-me find-me--twitter" href="https://twitter.com/GayaKessler">
            Volg me op Twitter
        </a>
    </li>
    <li>
        <a class="find-me find-me--linkedin" href="https://www.linkedin.com/in/gaya-kessler/">
            Connect op LinkedIn
        </a>
    </li>
    <li>
        <a class="find-me find-me--github" href="https://github.com/Gaya">
            Repository's op GitHub
        </a>
    </li>
</ul>
