@import 'reset';
@import 'prefix';

$bg: #f2f2f2;
$dark-bg: #151515;
$primary: #c03319;
$secondary: #158d38;

$screen-sm: 500px;
$screen-md: 760px;
$screen-lg: 1100px;
$container-width: 720px;

:root {
  scroll-behavior: smooth;
}

body {
  background-color: $bg;
  color: $dark-bg;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.7em;
  font-size: 18px;
  overflow-x: hidden;
}

%bg-pattern {
  background: {
    color: $dark-bg;
    image: url('../images/bg_pattern.png');
    size: 34px 50px;
    attachment: fixed;
    position: center center;
  }
}

%container {
  max-width: $container-width;
  margin: 0 auto;
}

a {
  color: $primary;

  &:hover, &:focus {
    color: $dark-bg;
  }
}

.header {
  position: relative;
  overflow: hidden;
  @extend %bg-pattern;

  &__wrap {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.5) 100%);
  }

  &__container {
    @extend %container;
    z-index: 10;
  }

  &__slogan {
    opacity: 0.9;
    color: $bg;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
    margin: 0 auto;
    width: 265px;

    @media (min-width: $screen-sm) {
      padding-bottom: 30px;
      font-size: 1.4em;
      line-height: 1.4em;
      width: 340px;
    }

    @media (min-width: $screen-md) {
      padding-bottom: 50px;
    }
  }

  &__menu {
    display: flex;
    padding-bottom: 1em;
    justify-content: center;
    align-content: center;

    @media (min-width: $screen-md) {
      padding-bottom: 2em;
    }

    &__item {
      list-style-type: none;

      @media (min-width: $screen-md) {
        margin: 0 1em;
      }

      a {
        color: $bg;
        text-decoration: none;
        display: inline-block;
        padding: 6px 18px;
        transition: color ease 0.2s, border-color ease 0.2s;

        &:hover {
          color: $primary;
        }
      }

      &--attn {
        a {
          border: 1px solid $bg;

          &:hover {
            border-color: $primary;
          }
        }
      }
    }
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;

  @media (min-width: $screen-sm) {
    padding: 30px 30px 20px 30px;
    flex-direction: row;
  }

  @media (min-width: $screen-md) {
    padding: 60px 60px 20px 60px;
  }

  &__box, &__name {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    margin: 7px;

    @media (min-width: $screen-sm) {
      margin: 10px;
    }
  }

  &__box {
    background-image: url('../images/clevernode-box.svg');
    height: 53px;
    width: 55px;

    @media (min-width: $screen-sm) {
      height: 70px;
      width: 80px;
    }
  }

  &__name {
    background-image: url('../images/clevernode-logo.svg');
    height: 33px;
    width: 212px;
    text-indent: -100em;
    overflow: hidden;

    @media (min-width: $screen-sm) {
      height: 40px;
      width: 270px;
    }
  }
}

.contact-now {
  padding: 0;
  margin: 48px 0 96px;
  max-width: $container-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $screen-md) {
    justify-content: flex-start;
    padding-left: 34px;
  }

  &.centred {
    @media (min-width: $screen-md) {
      justify-content: center;
      padding-left: 0;
    }
  }

  &__link {
    color: $bg;
    background-color: $primary;
    margin: 0.1em;
    text-decoration: none;
    transition: background-color 0.25s ease, box-shadow 0.25s ease;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px 34px;
    text-transform: uppercase;
    box-shadow: 5px 5px 0 darken($primary, 10);

    &:hover, &:focus {
      background: $secondary;
      color: $bg;
      box-shadow: 3px 3px 0 darken($secondary, 10);
    }
  }
}

.footer-menu {
  &__container {
    max-width: 720px;
    padding: 20px 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (min-width: $screen-sm) {
      padding: 40px 20px;
    }

    @media (min-width: $screen-md) {
      padding:  60px 30px;
    }

    a {
      color: $bg;
      text-decoration: none;
      opacity: 0.7;
      transition: opacity 0.3s ease;

      &:hover, &:active {
        text-decoration: underline;
        opacity: 1;
      }
    }
  }
}

.avatar {
  margin: 50px auto;
  text-align: center;

  &__picture {
    display: block;
  }

  img {
    width: 50%;
  }

  @media (min-width: $screen-sm) {
    margin: 50px 0 20px 12px;
    width: 178px;
    float: right;
    shape-outside: ellipse(135px 135px at center center);

    img {
      width: 128px;
      height: 128px;
    }
  }

  @media (min-width: $screen-md) {
    margin: 96px 0 0 50px;
    width: 256px;
    shape-outside: ellipse(203px 190px at 172px 258px);

    img {
      width: 256px;
      height: 256px;
    }
  }

  @media (min-width: $screen-lg) {
    margin-right: -10vw;
  }

  img {
    border-radius: 50%;
    overflow: hidden;
  }

  span {
    display: block;
    font-style: italic;
  }
}

.content {
  @extend %container;
  padding: 10px;

  @media (min-width: $screen-sm) {
    padding: 20px;
  }

  @media (min-width: $screen-md) {
    padding: 30px;
  }

  blockquote {
    margin: 10px 0;
    font-size: 20px;
    line-height: 1.5em;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  h1, h2 {
    line-height: 1.5em;
    font-weight: bold;
    text-transform: uppercase;

    &.centered {
      text-align: center;
    }
  }

  h1 {
    font-size: 28px;
    margin-top: 52px;
  }

  h2 {
    font-size: 20px;
    margin-top: 72px;
  }

  h1 + h2 {
    margin-top: 2em;
  }

  p {
    margin: 24px 0;
  }

  ul.find-online {
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      flex-basis: 100%;
      flex-shrink: 0;
      margin: 12px 0;
      list-style: none;
      padding-left: 0;

      &::before {
        content: "";
      }

      @media (min-width: $screen-md) {
        flex-basis: 32%;
      }
    }
  }

  ul {
    li {
      margin: 1em 0 1em 1em;
      padding-left: 1em;
      position: relative;

      &::before {
        position: absolute;
        left: -14px;
        content: "✓";
        margin-right: 1em;
        font-size: 1.3em;
        color: $secondary;
      }
    }
  }

  .picture {
    display: flex;
    align-items: flex-start;
    margin: 2em 0;

    &--fullwidth {
      margin: 2em -10px;
      width: calc(100% + 20px);

      @media (min-width: $screen-md) {
        margin: 2em -30px;
        width: calc(100% + 60px);
      }

      @media (min-width: $screen-lg) {
        margin: 2em -100px;
        width: calc(100% + 200px);
      }
    }

    img {
      display: block;
      width: 100%;
    }

    &--daantje, &--whisky, &--marathon {
      justify-content: center;

      img {
        border-radius: 50%;
        overflow: hidden;
        width: 80%;
      }

      @media (min-width: $screen-sm) {
        float: left;
        max-width: 200px;
        margin: 2em 2em 2em 0;
        shape-outside: ellipse(126px closest-side at center center);

        img {
          width: 100%;
        }
      }

      @media (min-width: $screen-md) {
        max-width: 300px;
        margin: 2em 2em 2em -5em;
        shape-outside: ellipse(137px closest-side at center center);
      }
    }

    &--whisky {
      @media (min-width: $screen-sm) {
        float: right;
        margin: 0 0 2em 2em;
      }

      @media (min-width: $screen-md) {
        margin: 0 -4em 2em 2em;
      }
    }
  }
}

.testimonials {
  margin: 2em 0;

  &__item {
    display: flex;
    flex-direction: column;
    margin: 2em 0;

    @media (min-width: $screen-md) {
      flex-direction: row;
      align-items: center;
      margin: 1em;
    }

    &:nth-child(2n) {
      @media (min-width: $screen-md) {
        flex-direction: row-reverse;

        .testimonials__item__avatar {
          margin-left: 3em;
          margin-right: -4em;
        }
      }
    }

    &__avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1em;

      @media (min-width: $screen-md) {
        margin-right: 3em;
        margin-left: -4em;
      }

      img {
        width: 200px;
        overflow: hidden;
        border-radius: 50%;
      }
    }

    &__quote {
      blockquote {
        font-size: 1.1em;
        line-height: 1.7em;

        &:before, &:after {
          font-weight: bold;
        }

        &:before {
          content: "“";
        }

        &:after {
          content: "”";
        }
      }

      span {
        color: lighten($dark-bg, 30);
        font-style: italic;
        font-size: 0.9em;

        &:before {
          content: "— ";
        }
      }
    }
  }
}

.experience, .projects {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 30px 0;

  @media (min-width: $screen-md) {
    margin: 60px 0;
  }

  &--logos {
    @media (min-width: $screen-md) {
      margin: 40px 0;
    }
  }

  &__item {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: auto;
      height: 60px;
      max-width: 100%;
      display: block;

      @media (min-width: $screen-md) {
        max-width: 200px;
      }
    }

    p {
      margin: 12px 0;
      font-size: 0.8em;
      text-align: center;
      opacity: 0.6;
    }
  }
}

.projects {
  &__item {
    width: 100%;

    @media (min-width: $screen-md) {
      width: 48%;

      p {
        max-width: 250px;
      }
    }
  }
}

.address {
  text-align: center;
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;

  p {
    font-size: 0.8em;
    margin: 2em auto;
    max-width: 300px;
  }

  @media (min-width: $screen-md) {
    padding: 120px 30px 30px 30px;
  }

  h1, h2 {
    line-height: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  h2 {
    font-size: 20px;
  }

  a {
    &:hover, &:focus {
      color: $bg;
    }
  }
}

.find-me {
  border: 2px solid $dark-bg;
  color: $dark-bg;
  display: block;
  text-decoration: none;
  width: 100%;
  height: 3em;
  line-height: 3em;
  text-align: center;
  transition: border-color 0.15s, color 0.15s, background-color 0.15s;
  border-radius: 10px;

  &:hover, &:focus {
    border: 2px solid $primary;
    background-color: $primary;
    color: $bg;

    &:before {
      opacity: 0;
      width: 0;
      margin-right: 0;
    }
  }

  &:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: -4px;

    background: {
      size: contain;
      repeat: no-repeat;
      position: center center;
    }

    margin-right: 4px;
    transition: opacity 0.15s, width 0.15s, margin-right 0.15s;
  }

  &--twitter {
    &:before {
      background-image: url('../images/twitter-logo.svg');
    }
  }

  &--github {
    &:before {
      background-image: url('../images/github-logo.svg');
    }
  }

  &--linkedin {
    &:before {
      background-image: url('../images/linkedin-logo.svg');
    }
  }

  &--mail {
    &:before {
      background-image: url('../images/mail.svg');
    }
  }
}

.footer {
  @extend %bg-pattern;
  clear: both;
  color: $bg;
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-sm) {
    margin-top: 2em;
  }

  @media (min-width: $screen-md) {
    margin-top: 4em;
  }

  &__wrap {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.5) 100%);
    min-height: 100vh;
  }
}

.footer__outro {
  color: lighten($dark-bg, 50);
  text-align: center;
  padding: 0 24px 24px 24px;
  flex-grow: 1;

  .header-logo__box {
    margin: 10px auto 0 auto;
  }

  @media (min-width: $screen-sm) {
    .header-logo__box {
      margin: 20px auto 0 auto;
    }
  }

  @media (min-width: $screen-md) {
    padding: 0 30px 120px 30px;

    .header-logo__box {
      margin: 60px auto 0 auto;
    }
  }
}
