@import 'reset';
@import 'prefix';

$bg: #f2f2f2;
$dark-bg: #151515;
$active: #fa6900;

$screen-sm: 500px;
$screen-md: 760px;
$screen-lg: 1100px;
$container-width: 720px;

body {
  background-color: $bg;
  color: $dark-bg;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.7em;
  font-size: 18px;
  overflow-x: hidden;
}

%bg-pattern {
  background: {
    color: $dark-bg;
    image: url('../images/header-bg-pattern.png');
    size: 73px 42px;
    attachment: fixed;
    position: center center;
  }
}

%container {
  max-width: $container-width;
  margin: 0 auto;
}

a {
  color: $active;

  &:hover, &:focus {
    color: $dark-bg;
  }
}

.header {
  position: relative;
  overflow: hidden;

  &:before {
    @extend %bg-pattern;
    position: absolute;
    content: "";
    height: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 250%;
    margin-left: -75%;
    z-index: -1;

    @media (min-width: $screen-sm) {
      width: 200%;
      margin-left: -50%;
    }

    @media (min-width: $screen-md) {
      width: 150%;
      margin-left: -25%;
    }
  }

  &__container {
    @extend %container;
  }

  &__slogan {
    opacity: 0.9;
    color: $bg;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 200px;

    @media (min-width: $screen-sm) {
      padding-bottom: 30px;
      font-size: 1.4em;
      line-height: 1.4em;
      width: 258px;
    }

    @media (min-width: $screen-md) {
      padding-bottom: 40px;
    }
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;

  @media (min-width: $screen-sm) {
    padding: 30px 30px 20px 30px;
    flex-direction: row;
  }

  @media (min-width: $screen-md) {
    padding: 60px 60px 20px 60px;
  }

  &__box, &__name {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    margin: 7px;

    @media (min-width: $screen-sm) {
      margin: 10px;
    }
  }

  &__box {
    background-image: url('../images/clevernode-box.svg');
    height: 53px;
    width: 55px;

    @media (min-width: $screen-sm) {
      height: 70px;
      width: 80px;
    }
  }

  &__name {
    background-image: url('../images/clevernode-logo.svg');
    height: 33px;
    width: 212px;
    text-indent: -100em;
    overflow: hidden;

    @media (min-width: $screen-sm) {
      height: 40px;
      width: 270px;
    }
  }
}

.menu, .contact-now {
  padding: 10px 0 0 0;
  max-width: $container-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  @media (min-width: $screen-sm) {
    justify-content: center;
    padding: 20px 0 0;
  }

  @media (min-width: $screen-md) {
    padding: 30px 0 0;
  }

  &__item, &__link {
    background: $dark-bg;
    margin: 0 10px;
    padding: 3px 10px;
    color: $bg;
    text-decoration: none;
    transition: background-color 0.15s;
    text-align: center;
    display: flex;
    align-items: center;

    &:hover, &:focus {
      color: $bg;
      background-color: $active;
    }
  }

  &__item {
    &:first-child {
      position: absolute;
      top: -1000px;
      left: -1000px;
      height: 1px;
      width: 1px;
      overflow: hidden;

      &:hover, &:focus {
        position: static;
        height: auto;
        width: auto;
      }
    }
  }
}

.contact-now {
  padding: 0;
  margin: 48px 0;

  &__link {
    padding: 12px 24px;
    text-transform: uppercase;
  }
}

.avatar {
  float: right;
  border-radius: 100%;
  overflow: hidden;
  margin: 20px 0 20px 20px;
  width: 75px;
  height: 75px;

  @media (min-width: $screen-sm) {
    height: 150px;
    width: 150px;
  }
}

.content {
  @extend %container;
  padding: 10px;

  @media (min-width: $screen-sm) {
    padding: 20px;
  }

  @media (min-width: $screen-md) {
    padding: 30px;
  }

  blockquote {
    margin: 10px 0;
    font-size: 20px;
    line-height: 1.5em;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  h1, h2 {
    line-height: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    margin-top: 72px;
  }

  p {
    margin: 24px 0;
  }

  ul.find-online {
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      flex-basis: 100%;
      flex-shrink: 0;
      margin: 12px 0;
      list-style: none;

      @media (min-width: $screen-md) {
        flex-basis: 32%;
      }
    }
  }

  ul {
    li {
      margin: 12px 0;
      list-style: disc;
    }
  }
}

.experience {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 30px 0;

  @media (min-width: $screen-lg) {
    margin: 40px -100px;
  }

  &__item {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: $screen-md) {
      width: 200px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: auto;
      height: 60px;
      max-width: 100%;
    }

    p {
      margin: 12px 0;
      font-size: 0.8em;
      text-align: center;
      opacity: 0.7;
    }
  }
}

.address {
  @extend %bg-pattern;
  color: $bg;
  text-align: center;
  padding: 10px;

  @media (min-width: $screen-sm) {
    padding: 20px;
  }

  @media (min-width: $screen-md) {
    padding: 120px 30px 30px 30px;
  }

  h1, h2 {
    line-height: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  h2 {
    font-size: 20px;
  }

  a {
    &:hover, &:focus {
      color: $bg;
    }
  }
}

.find-me {
  border: 1px solid $dark-bg;
  color: $dark-bg;
  display: block;
  text-decoration: none;
  width: 100%;
  height: 3em;
  line-height: 3em;
  text-align: center;
  transition: border-color 0.15s, color 0.15s, background-color 0.15s;

  &:hover, &:focus {
    border: 1px solid $active;
    background-color: $active;
    color: $bg;

    &:before {
      opacity: 0;
      width: 0;
      margin-right: 0;
    }
  }

  &:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: -4px;

    background: {
      size: contain;
      repeat: no-repeat;
      position: center center;
    }

    margin-right: 4px;
    transition: opacity 0.15s, width 0.15s, margin-right 0.15s;
  }

  &--twitter {
    &:before {
      background-image: url('../images/twitter-logo.svg');
    }
  }

  &--github {
    &:before {
      background-image: url('../images/github-logo.svg');
    }
  }

  &--linkedin {
    &:before {
      background-image: url('../images/linkedin-logo.svg');
    }
  }
}

.footer {
  @extend %bg-pattern;
  color: lighten($dark-bg, 50);
  text-align: center;
  padding: 0 10px 10px 10px;

  .header-logo__box {
    margin: 10px auto;
  }

  @media (min-width: $screen-sm) {
    padding: 0 20px 20px 20px;

    .header-logo__box {
      margin: 20px auto;
    }
  }

  @media (min-width: $screen-md) {
    padding: 0 30px 240px 30px;

    .header-logo__box {
      margin: 60px auto;
    }
  }
}

#formable-root {
  max-width: 400px;
  text-align: left;
  margin: 30px auto;

  .Formable__Label {
    color: $bg;
  }

  .Formable__Input, .Formable__TextArea {
    color: $bg;
    background-color: lighten($dark-bg, 5);
    border: 0;
    outline: none;

    &:focus {
      background-color: $dark-bg;
    }
  }
}
