<header class="header header-big">
    <section class="header__container">
        <section class="header-big__content">
            <h1 class="header-big__slogan">Get Your Web Applications to a Higher Level.</h1>

            <picture class="avatar" alt="Gaya Kessler" title="Gaya Kessler">
                <source srcset="/images/avatar.jp2, /images/avatar@2x.jp2 2x" type="image/jp2">
                <source srcset="/images/avatar.jpg, /images/avatar@2x.jpg 2x" type="image/jpg">
                <img src="/images/avatar@2x.jpg" alt="Gaya Kessler" title="Gaya Kessler">
                <span>Freelance Developer,<br />Gaya Kessler</span>
            </picture>

            <h2 class="header-big__sub-slogan">
                Looking for the following:
            </h2>

            <ul>
                <li>Development of a rich internet application from scratch, start to finish?</li>
                <li>Help with improving your current product and the development there of?</li>
                <li>Someone to teach modern web development to you, or members of your team?</li>
                <li>Solid advise on what the best approach is for an idea you have?</li>
                <li>Increase performance and usability of your apps?</li>
            </ul>

            <h2 class="header-big__sub-slogan">
                Look no further.
            </h2>

            <div class="header-options">
                <a href="#contact">Hire me Right Away!</a>
                <a href="#read-more">Read More</a>
            </div>
        </section>
    </section>
</header>

<header class="header header-transparent" id="header-content">
    <section class="header-logo header__logo">
        <div class="header-logo__box"></div>
        <h1 class="header-logo__name">
            <a class="site-title" href="/"><%= config.title %></a>
        </h1>
    </section>
    <h2 class="header__slogan"><%= config.subtitle %></h2>
</header>
