<header class="header header-big">
    <section class="header__container">
        <section class="header-big__content">
            <section class="header-big__header-combo">
                <img class="header-big__logo" src="/images/react-logo.svg" alt="React">
                <h1 class="header-big__slogan">Breng je React Applicaties Naar Een Hoger Niveau.</h1>
            </section>

            <picture class="avatar" alt="Gaya Kessler" title="Gaya Kessler">
                <source srcset="/images/avatar.jp2, /images/avatar@2x.jp2 2x" type="image/jp2">
                <source srcset="/images/avatar.jpg, /images/avatar@2x.jpg 2x" type="image/jpg">
                <img src="/images/avatar@2x.jpg" alt="Gaya Kessler" title="Gaya Kessler">
                <span>Freelance React Ontwikkelaar,<br />Gaya Kessler</span>
            </picture>

            <h2 class="header-big__sub-slogan">
                Op zoek naar één van de volgende punten:
            </h2>

            <ul>
                <li>Development van React applicaties van begin tot eind?</li>
                <li>Hulp bij het verbeteren van je huidige React applicatie en de ontwikkeling daarvan?</li>
                <li>Iemand die jou of je team React development kan leren?</li>
                <li>Wil je een mobiele native app maken?</li>
                <li>Solide advies voor wat de beste aanpak is bij een idee waar je mee rondloopt?</li>
                <li>Veel ervaring met technieken als JavaScript en Node.js?</li>
            </ul>

            <h2 class="header-big__sub-slogan">
                Kijk niet verder.
            </h2>

            <div class="header-options">
                <a href="#contact">Huur me Direct in!</a>
                <a href="#read-more">Lees Verder</a>
            </div>
        </section>
    </section>
</header>

<header class="header header-transparent" id="read-more">
    <section class="header-logo header__logo">
        <div class="header-logo__box"></div>
        <h1 class="header-logo__name">
            <a class="site-title" href="/"><%= config.title %></a>
        </h1>
    </section>
    <h2 class="header__slogan"><%= config.subtitle_nl %></h2>
</header>
